:root {
    --orange: #dd820d;
    --darkGray: #5a5a5a;
    --mediumGray: #636363;
    --verySoftGray: #f2f2f2;
    --blue1: #3895ea;
    --navyBlue: #323068;
    --headerbg1: #73c0ff;
    --blue2:#005091;
    --headerbg3: black;
    --white: #fff;
    --whiteTransparent: rgba(255, 255, 255, 0.5);
}



.main .container {
    overflow: visible;
}

.main .about {
    text-align: center;
}

.main .about .text {
    color: var(--darkGray);
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 80px auto;
}

.main .about .text .title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: var(--blue2);
    text-align: center;
}

.main .work {
    background: var(--verySoftGray);
    padding: 60px 0;
}

.main .work .container {
    overflow: hidden;
}

.main .work .title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: var(--navyBlue);
    text-align: center;
    padding-bottom:40px;
}

.main .work .container-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .work .container-work .design {
    width: 23%;
    margin-bottom: 40px;
}

.main .work .container-work .design .thumbnail {
    width: 100%;
    margin-bottom: 10px;
}

.main .work .container-work .design .thumbnail img {
    width: 100%;
    vertical-align: top;
    border-radius: 4px;
}

.main .work .container-work .design .description {
    text-align: center;
}

.main .work .container-work .design .description .name {
    font-weight: 700;
    color: var(--blue1);
    margin-bottom: 10px;
}

.main .work .container-work .design .description .category {
    font-size: 14px;
    color: var(--mediumGray);
}

@media all and (max-width: 800px) {
    .main .work .container-work .design {
        width: 46%;
    }
}